*.sw[po]
*.pyc
.DS_Store
.ropeproject
dist/
*.egg-info/
.tox
docs/build
.cache/
.pytest_cache/
.anaconda
.idea
.ipynb_checkpoints/
.config/
.local/
.ipython/
tests/data/*.csv
__pycache__
.vscode
build/
docs/source/_build
