include *.txt
include README.md
include pyproject.toml

graft ioos_qc

prune .github
prune *.egg-info
prune docs
prune resources
prune tests

exclude *.nc
exclude *.yml
exclude .coveragerc
exclude .gitignore
exclude .pre-commit-config.yaml
exclude ioos_qc/_version.py
exclude ruff.toml
