name: Full Tests

# no permissions by default
permissions: {}

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
        os: [ windows-latest, ubuntu-latest, macos-latest ]
        numba: [true, false]
      fail-fast: false
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: Setup Micromamba ${{ matrix.python-version }}
      uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462  # v2.0.7
      with:
        environment-name: TEST
        init-shell: bash
        create-args: >-
          python=${{ matrix.python-version }} pip
          --file requirements.txt
          --file requirements-dev.txt
          --channel conda-forge

    - name: Install ioos_qc
      run: |
        python -m pip install -e . --no-deps --force-reinstall

    - name: numba
      if: ${{ matrix.numba }}
      run: |
        micromamba install numba

    - name: Tests
      run: |
        python -m pytest --disable-warnings
